body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

header {
    text-align: center;
    width: 600px;
    border: 2px solid red;
    padding: 10px;
    box-sizing: border-box;
}

#score-counter {
    margin: 10px 0;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
}

#timer {
    border: 2px solid red;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    margin-left: 20px; /* Adjust space between header and timer */
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 10px;
}

.block {
    width: 120px;
    height: 120px;
    border: 2px solid brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mole, .snake {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.visible {
    display: block;
}
